In [1]:
import pandas as pd
from datetime import datetime
from emoji import emojize

### –ó–∞–¥–∞–Ω–∏–µ 1
–ò—Å–ø–æ–ª—å–∑—É–µ–º —Ñ–∞–π–ª keywords.csv.
 
–ù–µ–æ–±—Ö–æ–¥–∏–º–æ –Ω–∞–ø–∏—Å–∞—Ç—å –≥–µ–æ-–∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ç–æ—Ä, –∫–æ—Ç–æ—Ä—ã–π –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–µ —Å–º–æ–∂–µ—Ç –≤—ã—Å—Ç–∞–≤–∏—Ç—å –≥–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫—É—é –ø—Ä–∏–Ω–∞–¥–ª–µ–∂–Ω–æ—Å—Ç—å –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–º—É —Ä–µ–≥–∏–æ–Ω—É. –¢. –µ. –µ—Å–ª–∏ –ø–æ–∏—Å–∫–æ–≤—ã–π –∑–∞–ø—Ä–æ—Å —Å–æ–¥–µ—Ä–∂–∏—Ç –Ω–∞–∑–≤–∞–Ω–∏–µ –≥–æ—Ä–æ–¥–∞ —Ä–µ–≥–∏–æ–Ω–∞, —Ç–æ –≤ —Å—Ç–æ–ª–±—Ü–µ 'region' –ø–∏—à–µ—Ç—Å—è –Ω–∞–∑–≤–∞–Ω–∏–µ —ç—Ç–æ–≥–æ —Ä–µ–≥–∏–æ–Ω–∞. –ï—Å–ª–∏ –ø–æ–∏—Å–∫–æ–≤—ã–π –∑–∞–ø—Ä–æ—Å –Ω–µ —Å–æ–¥–µ—Ä–∂–∏—Ç –Ω–∞–∑–≤–∞–Ω–∏—è –≥–æ—Ä–æ–¥–∞, —Ç–æ —Å—Ç–∞–≤–∏–º 'undefined'.
 
–ü—Ä–∞–≤–∏–ª–∞ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º –¶–µ–Ω—Ç—Ä, –°–µ–≤–µ—Ä–æ-–ó–∞–ø–∞–¥ –∏ –î–∞–ª—å–Ω–∏–π –í–æ—Å—Ç–æ–∫:

geo_data = {
 
    '–¶–µ–Ω—Ç—Ä': ['–º–æ—Å–∫–≤–∞', '—Ç—É–ª–∞', '—è—Ä–æ—Å–ª–∞–≤–ª—å'],
 
    '–°–µ–≤–µ—Ä–æ-–ó–∞–ø–∞–¥': ['–ø–µ—Ç–µ—Ä–±—É—Ä–≥', '–ø—Å–∫–æ–≤', '–º—É—Ä–º–∞–Ω—Å–∫'],
 
    '–î–∞–ª—å–Ω–∏–π –í–æ—Å—Ç–æ–∫': ['–≤–ª–∞–¥–∏–≤–æ—Å—Ç–æ–∫', '—Å–∞—Ö–∞–ª–∏–Ω', '—Ö–∞–±–∞—Ä–æ–≤—Å–∫']
 
}
 
–†–µ–∑—É–ª—å—Ç–∞—Ç –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ –∑–∞–ø–∏—à–∏—Ç–µ –≤ –æ—Ç–¥–µ–ª—å–Ω—ã–π —Å—Ç–æ–ª–±–µ—Ü region.

In [2]:
geo_data = {
            '–¶–µ–Ω—Ç—Ä': ['–º–æ—Å–∫–≤–∞', '—Ç—É–ª–∞', '—è—Ä–æ—Å–ª–∞–≤–ª—å'],

            '–°–µ–≤–µ—Ä–æ-–ó–∞–ø–∞–¥': ['–ø–µ—Ç–µ—Ä–±—É—Ä–≥', '–ø—Å–∫–æ–≤', '–º—É—Ä–º–∞–Ω—Å–∫'],

            '–î–∞–ª—å–Ω–∏–π –í–æ—Å—Ç–æ–∫': ['–≤–ª–∞–¥–∏–≤–æ—Å—Ç–æ–∫', '—Å–∞—Ö–∞–ª–∏–Ω', '—Ö–∞–±–∞—Ä–æ–≤—Å–∫']
                 
}

#### –†–µ—à–µ–Ω–∏–µ

–¥–ª—è —Ä–µ—à–µ–Ω–∏—è –¥–∞–Ω–Ω–æ–π –∑–∞–¥–∞—á–∏ —è –Ω–∞–ø–∏—Å–∞–ª –¥–≤–µ —Ñ—É–Ω–∫—Ü–∏–∏ geo_tags_search_engine –∏ find_key
–ø—Ä–∏ —Ä–µ—à–µ–Ω–∏–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–ª—Å—è —Å–ª–µ–¥—É—é—â–∏–π –∞–ª–≥–æ—Ä–∏—Ç–º:
- —Ä–∞–∑–±–∏–≤–∞–µ–º —Å—Ç–æ–ª–±–µ—Ü keyword –Ω–∞ —Å–ª–æ–≤–∞ –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü keyword_split
- —Ñ—É–Ω–∫—Ü–∏–µ–π find_key –ø—Ä–æ—Ö–æ–¥–∏–º –ø–æ —Å—Ç–æ–ª–±—Ü—É keyword_split –∏ –Ω–∞ –∫–∞–∂–¥–æ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏ –≤–Ω—É—Ç—Ä–∏ —Ñ—É–Ω–∫—Ü–∏–∏ –≤—ã–∑—ã–≤–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é 
  geo_tags_search_engine –∫–æ—Ç–æ—Ä–∞—è –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –Ω–∞–∑–≤–∞–Ω–∏–µ —Ä–µ–≥–∏–æ–Ω–∞ –∏–ª–∏ undef –µ—Å–ª–∏ –≥–µ–æ—Ç–µ–≥–æ–≤ –Ω–µ—Ç

In [3]:
with_geo_tags = pd.read_csv('keywords.csv')

In [4]:
#—Å–æ–∑–¥–∞–µ–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü –∏ –ø—Ä–æ–±—Ä–∞—Å—ã–≤–∞–µ–º –≤ –Ω–µ–≥–æ —Ä–∞–∑–±–∏—Ç—ã–µ —Å–ª–æ–≤–∞ –∏–∑ —Å—Ç–æ–ª–±—Ü–∞ keyword
with_geo_tags['keyword_split'] = with_geo_tags.apply(lambda x: x['keyword'].split(' '), axis=1)

In [5]:
#–æ—Ç–ª–∏—á–Ω–æ –≤—Å–µ —Ä–∞–±–æ—Ç–∞–µ—Ç
with_geo_tags.head()

         keyword     shows    keyword_split
0             –≤–∫  64292779             [–≤–∫]
1  –æ–¥–Ω–æ–∫–ª–∞—Å—Å–Ω–∏–∫–∏  63810309  [–æ–¥–Ω–æ–∫–ª–∞—Å—Å–Ω–∏–∫–∏]
2          –ø–æ—Ä–Ω–æ  41747114          [–ø–æ—Ä–Ω–æ]
3           —é—Ç—É–±  39995567           [—é—Ç—É–±]
4      –≤–∫–æ–Ω—Ç–∞–∫—Ç–µ  21014195      [–≤–∫–æ–Ω—Ç–∞–∫—Ç–µ]

In [6]:
def geo_tags_search_engine(city):
    """
    —Ñ—É–Ω–∫—Ü–∏—è geo_tags_search_engine –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –Ω–∞ –≤—Ö–æ–¥ –∑–Ω–∞—á–µ–Ω–∏–µ
    –∏ –ø—Ä–æ–≤–µ—Ä—è–µ—Ç –µ—Å—Ç—å –ª–∏ —ç—Ç–æ –∑–Ω–∞—á–µ–Ω–∏–µ –≤ —Å–ª–æ–≤–∞—Ä–µ geo_data
    –µ—Å–ª–∏ –¥–∞–Ω–Ω–µ —Å–æ–ø–∞–¥–∞—é—Ç —Ç–æ —Ñ—É–Ω–∫—Ü–∏—è –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç –∫–ª—é—á 
    (–≤ –¥–∞–Ω–Ω–æ–º –ø—Ä–∏–º–µ—Ä–µ –Ω–∞–∑–≤–∞–Ω–∏–µ  —Ä–µ–≥–∏–æ–Ω–∞) –µ—Å–ª–∏ –Ω–µ—Ç —Ç–æ 'undef'
    """
    
    for region, city_list in geo_data.items():
        if city in city_list:
            return region
    return 'undef'

In [7]:
def find_key(city_in_series):
    """
    —Ñ—É–Ω–∫—Ü–∏—è find_key –Ω–∞ –≤—Ö–æ–¥ –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –¥–∞–Ω–Ω—ã–µ –∏–∑ —Å—Ç–æ–ª–±—Ü–∞ 
    'keyword_split' –∏ —Å –ø–æ–º–æ—â—å—é –∏—Ç–µ—Ä–∞—Ç–æ—Ä–∞ for –ø—Ä–æ—Ö–æ–¥–∏—Ç 
    –ø–æ –∫–∞–∂–¥–æ–º—É –∑–Ω–∞—á–µ–Ω–∏–µ—é –∏ –Ω–∞ –∫–∞–∂–¥–æ–µ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏ –≤–Ω—É—Ç—Ä–∏ —Å–µ–±—è 
    –≤—ã–∑—ã–≤–∞–µ—Ç —Ñ—É–Ω–∫—Ü–∏—é geo_tags_search_engine –∫–æ—Ç–æ—Ä–∞—è –¥–µ–ª–∞–µ—Ç –º–∞–≥–∏—é
    (–æ–ø–∏—Å–∞–Ω–∏–µ geo_tags_search_engine –¥–∞–Ω–æ –≤—ã—à–µ)
    """
    
    for city in city_in_series['keyword_split']:
        return geo_tags_search_engine(city)

In [8]:
#—Å–æ–∑–¥–∞–µ–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü –≤ –∫–æ—Ç–æ—Ä—ã–π –≤–æ–∑–≤—Ä–∞—â–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã —Ä–∞–±–æ—Ç—ã —Ñ—É–Ω–∫—Ü–∏–∏ find_key
with_geo_tags['geo_tags'] = with_geo_tags.apply(find_key, axis=1)

In [9]:
#–≤—Å–µ —Å—Ä–∞–±–æ—Ç–∞–ª–æ, —Ç–µ–ø–µ—Ä—å —É –Ω–∞—Å –µ—Å—Ç—å —Å—Ç–æ–ª–±–µ—Ü geo_tags
with_geo_tags.head()

         keyword     shows    keyword_split geo_tags
0             –≤–∫  64292779             [–≤–∫]    undef
1  –æ–¥–Ω–æ–∫–ª–∞—Å—Å–Ω–∏–∫–∏  63810309  [–æ–¥–Ω–æ–∫–ª–∞—Å—Å–Ω–∏–∫–∏]    undef
2          –ø–æ—Ä–Ω–æ  41747114          [–ø–æ—Ä–Ω–æ]    undef
3           —é—Ç—É–±  39995567           [—é—Ç—É–±]    undef
4      –≤–∫–æ–Ω—Ç–∞–∫—Ç–µ  21014195      [–≤–∫–æ–Ω—Ç–∞–∫—Ç–µ]    undef

In [10]:
#–Ω–∞–≤–µ–¥–µ–º –Ω–µ–º–Ω–æ–≥–æ –∫—Ä–∞—Å–æ—Ç—ã
with_geo_tags.drop('keyword_split', axis=1, inplace=True)

In [11]:
with_geo_tags.head()

         keyword     shows geo_tags
0             –≤–∫  64292779    undef
1  –æ–¥–Ω–æ–∫–ª–∞—Å—Å–Ω–∏–∫–∏  63810309    undef
2          –ø–æ—Ä–Ω–æ  41747114    undef
3           —é—Ç—É–±  39995567    undef
4      –≤–∫–æ–Ω—Ç–∞–∫—Ç–µ  21014195    undef

In [12]:
emojize(':thumbs_up:')

'üëç'

### –ó–∞–¥–∞–Ω–∏–µ 2
–ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è –∫–ª–∞—Å—Å–∏—Ñ–∏—Ü–∏—Ä—É–µ—Ç —Ñ–∏–ª—å–º—ã –∏–∑ –º–∞—Ç–µ—Ä–∏–∞–ª–æ–≤ –∑–∞–Ω—è—Ç–∏—è –ø–æ —Å–ª–µ–¥—É—é—â–∏–º –ø—Ä–∞–≤–∏–ª–∞–º:
- –æ—Ü–µ–Ω–∫–∞ 2 –∏ –º–µ–Ω—å—à–µ - –Ω–∏–∑–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥
- –æ—Ü–µ–Ω–∫–∞ 4 –∏ –º–µ–Ω—å—à–µ - —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥
- –æ—Ü–µ–Ω–∫–∞ 4.5 –∏ 5 - –≤—ã—Å–æ–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥
 
–†–µ–∑—É–ª—å—Ç–∞—Ç –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ –∑–∞–ø–∏—à–∏—Ç–µ –≤ —Å—Ç–æ–ª–±–µ—Ü class

#### –†–µ—à–µ–Ω–∏–µ

—Ç—É—Ç –≤—Å–µ –Ω–∞—Å—Ç–æ–ª—å–∫–æ —Ç—Ä–∏–≤–∏–∞–ª—å —á—Ç–æ –Ω–µ—Ç —Å–º—ã—Å–ª–∞ –æ–ø–∏—Å—ã–≤–∞—Ç—å —Ö–æ–¥ —Ä–µ—à–µ–Ω–∏—è

In [13]:
rating_df = pd.read_csv('ratings.csv')

In [14]:
rating_df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [15]:
def check_the_rating(row):
    """
    —Ñ—É–Ω–∫—Ü–∏—è check_the_rating –∫–ª–∞—Å—Å–∏—Ñ–∏—Ü–∏—Ä—É–µ—Ç —Ñ–∏–ª—å–º—ã
    """
    if row['rating'] <= 2:
        return '–Ω–∏–∑–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥'
    elif row['rating'] <= 4:
        return '—Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥'
    elif row['rating'] > 4:
        return '–≤—ã—Å–æ–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥'

In [16]:
%%time
rating_df['class'] = rating_df.apply(check_the_rating, axis= 1)

CPU times: user 2.29 s, sys: 8.32 ms, total: 2.29 s
Wall time: 2.3 s

In [17]:
rating_df.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥
1       1     1029     3.0  1260759179  —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥
2       1     1061     3.0  1260759182  —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥
3       1     1129     2.0  1260759185   –Ω–∏–∑–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥
4       1     1172     4.0  1260759205  —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥

In [18]:
rating_df['class'].value_counts()

—Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥    63801
–≤—ã—Å–æ–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥    22818
–Ω–∏–∑–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥     13385
Name: class, dtype: int64

In [13]:
print(emojize(':thumbs_up:'))

üëç

### –ó–∞–¥–∞–Ω–∏–µ 3
–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ Lifetime –∫–∏–Ω–æ–º–∞–Ω–æ–≤ (–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ 100 –∏ –±–æ–ª–µ–µ —Ä–µ–π—Ç–∏–Ω–≥–æ–≤). –ü–æ–¥ Lifetime –ø–æ–Ω–∏–º–∞–µ—Ç—Å—è —Ä–∞–∑–Ω–∏—Ü–∞ –º–µ–∂–¥—É –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–º –∏ –º–∏–Ω–∏–º–∞–ª—å–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º timestamp –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è. –û—Ç–≤–µ—Ç –¥–∞–π—Ç–µ –≤ –¥–Ω—è—Ö.

In [19]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [21]:
#–≥—Ä—É–ø–ø–µ—Ä—É–µ–º –ø–æ userId –∏ —Å—á–∏—Ç–∞–µ–º —Å–∫–æ–ª—å–∫–æ –∫–∞–∂–¥—ã–π –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –ø–æ—Å—Ç–∞–≤–∏–ª –æ—Ü–µ–Ω–æ–∫ —Ñ–∏–ª—å–º–∞–º
ratings_count = ratings.groupby('userId').count().reset_index()[['userId', 'movieId']]

In [22]:
ratings_count.head()

   userId  movieId
0       1       20
1       2       76
2       3       51
3       4      204
4       5      100

In [23]:
#–∏–∑ –Ω–∞—à–µ–π —Å–æ–≤–æ–∫—É–ø–Ω–æ—Å—Ç–∏ –¥–µ–ª–∞–µ–º –≤—ã–±–æ—Ä–∫—É –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∫–æ—Ç–æ—Ä—ã–π –ø–æ—Å—Ç–∞–≤–∏–ª–∏ 100 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–æ–∫
film_fans_ratings_count = ratings_count[ ratings_count['movieId'] >= 100 ].sort_values('movieId', ascending=False)
film_fans_ratings_count.head()

     userId  movieId
546     547     2391
563     564     1868
623     624     1735
14       15     1700
72       73     1610

In [24]:
film_fans_user_ids = film_fans_ratings_count['userId'].tolist()

In [25]:
#fans_data –Ω–∞—à–∏ –¥–∞–Ω–Ω—ã–µ —Å —Å–∞–º—ã–º–∏ –∞–∫—Ç–∏–≤–Ω—ã–º–∏ –∫–∏–Ω–æ–º–∞–Ω–∞–º–∏
fans_data = ratings[ratings['userId'].isin(film_fans_user_ids)]

In [37]:
#–ø–µ—Ä–µ–≤–æ–¥–∏–º unixtime –≤ –±–æ–ª–µ–µ –ø—Ä–∏–≤—ã—á–Ω—ã–π –Ω–∞–º —Ñ–æ—Ä–º–∞—Ç YYYY-MM-DD –¥–ª—è —ç—Ç–æ–≥–æ –∏—Å–ø–æ–ª—å–∑—É–µ–º pd.to_datetime
fans_data['timestamp'] = pd.to_datetime(fans_data['timestamp'],unit='s')

In [27]:
#–≤—ã–ø–æ–ª–Ω—è–µ–º –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–∏–µ –ø–æ min –∏ max –ø–æ timestamp –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è 
min_max_fans_lifetime = fans_data.groupby('userId').agg(['min', 'max'])['timestamp'].reset_index()

In [28]:
#–æ—Ç–ª–∏—á–Ω–æ —É –Ω–∞—Å –µ—Å—Ç—å –¥–∞–Ω–Ω—ã–µ –æ —Å–∞–º–æ–π –ø–µ—Ä–≤–æ–π –∏ –ø–æ—Å–ª–µ–¥–Ω–µ–π –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç–∏ –∫–∏–Ω–æ–º–∞–Ω–æ–≤
min_max_fans_lifetime.head()

   userId                 min                 max
0       4 2000-02-05 19:25:14 2000-02-08 03:57:54
1       5 2006-11-12 23:10:44 2006-11-12 23:45:45
2       8 2006-07-31 23:42:20 2006-08-01 23:22:07
3      15 2001-08-16 04:47:19 2016-07-24 03:25:35
4      17 2005-09-23 09:43:07 2005-09-23 11:57:20

In [29]:
#–æ–ø—Ä–µ–¥–µ–ª—è–µ–º lifetime –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ–º –∑–Ω–∞—á–µ–Ω–∏–µ –≤ –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü
min_max_fans_lifetime['lifetime'] = min_max_fans_lifetime['max'] - min_max_fans_lifetime['min']

In [33]:
#–∫–∞–∫ –≤–∏–¥–Ω–æ —Å–∞–º—ã–π –≤—ã—Å–æ–∫–∏–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å lifetime —É –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è 380 –æ–Ω —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 5969 –¥–Ω–µ–π
min_max_fans_lifetime.sort_values('lifetime', ascending=False).head(15)

     userId                 min                 max           lifetime
140     380 2000-02-01 01:05:25 2016-06-05 19:59:46 5969 days 18:54:21
212     547 2000-11-21 03:25:09 2016-10-16 03:14:04 5807 days 23:48:55
161     427 1999-10-07 21:43:07 2014-11-13 18:04:03 5515 days 20:20:56
3        15 2001-08-16 04:47:19 2016-07-24 03:25:35 5455 days 22:38:16
248     624 2002-04-18 09:57:46 2016-10-16 11:12:53 5295 days 01:15:07
205     529 2000-06-02 16:39:28 2014-08-17 17:30:22 5189 days 00:50:54
254     648 2006-01-28 19:43:56 2016-04-15 21:59:30 3730 days 02:15:34
146     388 1999-12-29 22:59:06 2008-12-11 20:24:01 3269 days 21:24:55
118     311 1998-06-09 14:47:53 2006-05-17 00:13:13 2898 days 09:25:20
179     472 1999-10-04 02:07:18 2007-03-03 21:21:37 2707 days 19:14:19
193     509 1999-10-07 19:42:32 2006-12-09 02:16:52 2619 days 06:34:20
55      150 2005-04-19 10:32:47 2012-06-03 08:03:59 2601 days 21:31:12
24       73 2009-10-14 06:14:12 2016-10-10 07:59:05 2553 days 01:44:53
153     407 2000-07-03 17:33:24 2006-12-28 21:44:44 2369 days 04:11:20
73      199 2008-06-28 11:33:57 2014-06-24 13:14:32 2187 days 01:40:35

In [34]:
#—Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ lifetime –¥–ª—è –Ω–∞—à–µ–π –≤—ã–±–æ—Ä–∫–∏ —Ä–∞–≤–µ–Ω 455 –¥–Ω–µ–π
min_max_fans_lifetime['lifetime'].mean()

Timedelta('455 days 05:29:08.566539')

In [35]:
#–µ—â–µ –Ω–∞–º–Ω–æ–≥–æ –∑–∞–Ω–∏–º–∞—Ç–µ–ª—å–Ω–æ–π —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏
min_max_fans_lifetime.describe()

           userId                   lifetime
count  263.000000                        263
mean   343.060837   455 days 05:29:08.566539
std    192.531003  1005 days 02:45:56.813082
min      4.000000            0 days 00:03:26
25%    177.500000     0 days 03:08:10.500000
50%    355.000000           27 days 07:11:41
75%    517.000000          397 days 00:33:47
max    671.000000         5969 days 18:54:21

In [36]:
emojize(':thumbs_up:')

'üëç'

### –ó–∞–¥–∞–Ω–∏–µ 4
–ï—Å—Ç—å –º–Ω–µ–Ω–∏–µ, —á—Ç–æ "—Ä–∞–Ω—å—à–µ —Å–Ω–∏–º–∞–ª–∏ –Ω–∞—Å—Ç–æ—è—â–µ–µ –∫–∏–Ω–æ, –Ω–µ —Ç–æ —á—Ç–æ —Å–µ–π—á–∞—Å". –í–∞—à–∞ –∑–∞–¥–∞—á–∞ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å —ç—Ç–æ —É—Ç–≤–µ—Ä–∂–¥–µ–Ω–∏–µ, –∏—Å–ø–æ–ª—å–∑—É—è —Ñ–∞–π–ª—ã —Å —Ä–µ–π—Ç–∏–Ω–≥–∞–º–∏ —Ñ–∏–ª—å–º–æ–≤ –∏–∑ –º–∞—Ç–µ—Ä–∏–∞–ª–æ–≤ –∑–∞–Ω—è—Ç–∏—è. –¢. –µ. –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –≤–µ—Ä–Ω–æ –ª–∏, —á—Ç–æ —Å —Ä–æ—Å—Ç–æ–º –≥–æ–¥–∞ –≤—ã–ø—É—Å–∫–∞ —Ñ–∏–ª—å–º–∞ –µ–≥–æ —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ —Å—Ç–∞–Ω–æ–≤–∏—Ç—Å—è –Ω–∏–∂–µ.
 
–ü—Ä–∏ —ç—Ç–æ–º –º—ã –Ω–µ –±—É–¥–µ–º –∑–∞—Ç—Ä–∞–≥–∏–≤–∞—Ç—å —Å—É–±—å–µ–∫—Ç–∏–≤–Ω—ã–µ —Ñ–∞–∫—Ç–æ—Ä—ã –≤—ã—Å—Ç–∞–≤–ª–µ–Ω–∏—è —ç—Ç–∏—Ö —Ä–µ–π—Ç–∏–Ω–≥–æ–≤, –∞ –ø—Ä–æ–π–¥–µ–º—Å—è –ø–æ —Å–ª–µ–¥—É—é—â–µ–º—É –∞–ª–≥–æ—Ä–∏—Ç–º—É:
 
1. –í –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é years –∑–∞–ø–∏—à–∏—Ç–µ —Å–ø–∏—Å–æ–∫ –∏–∑ –≤—Å–µ—Ö –≥–æ–¥–æ–≤ —Å 1950 –ø–æ 2010.
 
2. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é production_year, –∫–æ—Ç–æ—Ä–∞—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–µ –∏–∑ –Ω–∞–∑–≤–∞–Ω–∏—è —Ñ–∏–ª—å–º–∞ –≤—ã—Å—Ç–∞–≤–ª—è–µ—Ç –≥–æ–¥ –≤—ã–ø—É—Å–∫–∞. –ù–µ –≤—Å–µ –Ω–∞–∑–≤–∞–Ω–∏—è —Ñ–∏–ª—å–º–æ–≤ —Å–æ–¥–µ—Ä–∂–∞—Ç –≥–æ–¥ –≤—ã–ø—É—Å–∫–∞ –≤ –æ–¥–∏–Ω–∞–∫–æ–≤–æ–º —Ñ–æ—Ä–º–∞—Ç–µ, –ø–æ—ç—Ç–æ–º—É –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ —Å–ª–µ–¥—É—é—â–∏–π –∞–ª–≥–æ—Ä–∏—Ç–º:
- –¥–ª—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–∏ –ø—Ä–æ–π–¥–∏—Ç–µ –ø–æ –≤—Å–µ–º –≥–æ–¥–∞–º —Å–ø–∏—Å–∫–∞ years
- –µ—Å–ª–∏ –Ω–æ–º–µ—Ä –≥–æ–¥–∞ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É–µ—Ç –≤ –Ω–∞–∑–≤–∞–Ω–∏–∏ —Ñ–∏–ª—å–º–∞, —Ç–æ —Ñ—É–Ω–∫—Ü–∏—è –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç —ç—Ç–æ—Ç –≥–æ–¥ –∫–∞–∫ –≥–æ–¥ –≤—ã–ø—É—Å–∫–∞
- –µ—Å–ª–∏ –Ω–∏ –æ–¥–∏–Ω –∏–∑ –Ω–æ–º–µ—Ä–æ–≤ –≥–æ–¥–∞ —Å–ø–∏—Å–∫–∞ years –Ω–µ –≤—Å—Ç—Ä–µ—Ç–∏–ª—Å—è –≤ –Ω–∞–∑–≤–∞–Ω–∏–∏ —Ñ–∏–ª—å–º–∞, —Ç–æ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç—Å—è 1900 –≥–æ–¥
 
3. –ó–∞–ø–∏—à–∏—Ç–µ –≥–æ–¥ –≤—ã–ø—É—Å–∫–∞ —Ñ–∏–ª—å–º–∞ –ø–æ –∞–ª–≥–æ—Ä–∏—Ç–º—É –ø—É–Ω–∫—Ç–∞ 2 –≤ –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü 'year'
 
4. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –≤—Å–µ—Ö —Ñ–∏–ª—å–º–æ–≤ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ 'year' –∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ø–æ —É–±—ã–≤–∞–Ω–∏—é —Ä–µ–π—Ç–∏–Ω–≥–∞